* {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 14px;
    word-break: break-word;
}

body {
    box-sizing: border-box;
    line-height: 1.5;
}
h1{
    font-size: 4rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}
h2 {
    font-size: 2.5rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}
p {
    font-size: 1.8rem;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    text-align: left;
}
a {
    span {
        // margin: 0 60px;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 700;
        font-size: 1.3rem;
    }
    border-radius: 50px;
    // box-shadow: 0px 1px 4px hsl(208, 11%, 55%);
    text-align: center;
    text-decoration: none;
}

header {
    background: url(../images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    padding: 0 50px;
    .top {
        display: flex;
        justify-content: space-between;
        margin: 0 0 100px;
        padding: 100px 50px 0;
        .logo {
            min-width: 300px;
        }
        .button {
            width: 300px;
            background-color: #ffffff;
            box-shadow: 0px 1px 4px hsl(208, 11%, 55%);
            color: #000000;
            padding: 10px 0;
        }    
    }
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        .text {
            display: flex;
            flex-direction: column;
            width: 40%;
            // padding: 0 50px;
            p {
                margin: 20px 0;
            }
            .button {
                background-color: #ff52bf;
                color: #ffffff;
                padding: 25px 60px;
                margin: 25px 0 0px;
                width: 400px;
            }
        }
        img {
            min-width: 768px;
            margin: 0 0 100px;
            // padding: 0 50px;
        }    
        @media only screen and (max-width: 768px) {
            flex-direction: column;
            .text {
                justify-content: center;
            }
            
        }   
    }
}

main {
    padding: 0 100px;
    .container {
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 28px;
        box-shadow: 0px 1px 4px hsl(208, 11%, 55%);
        padding: 50px 25px 50px 100px;
        .text {
            display: flex;
            flex-direction: column;
            width: 40%;
            p{
                color: darkgray;
            }
        }
    }
    .top-container{
        margin: 200px 0 0 0;
        img {
            max-width: 511.7px;
            max-height: 418.8px;
        }
    }
    .mid-container{
        margin: 100px 0;
        flex-direction: row-reverse;
        img {
            max-width:562.6px;
            max-height:400.5px;
        }
    }
    .bot-container{
        margin: 0 0 200px 0;
        img {
            max-width: 539px;
            max-height: 406.5px;
        }
    }
    .absolute-container {
        background-color: #ffffff;
        flex-direction: column;
        width: 768px;
        height: auto;
        margin: 0px auto;
        padding: 50px 0;
        transform: translateY(85px);
        .button {
            background-color: #ff52bf;
            color: #ffffff;
            padding: 25px 60px;
            margin: 25px 0 0px;
            width: 400px;
        }
    }
}

footer {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 0 100px;
    .logo {
        width: 100%;
        float: left;
        margin: 200px 0 0;
        img {
            min-width: 300px;
        }
    }
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0;
        .infos{
            width: 40%;
            p {
                font-size: 1.5rem;
                margin: 0 0 25px;
            }
            .location {
                display: flex;
                img {
                    width: 13px;
                    height: 18px;
                    margin: 7px 7px 1px 0;
                }
            }
            .phone {
                display: flex;
                img {
                    width: 18px;
                    height: 18px;
                    margin: 7px 2px 1px 0;
                }
            }
            .email {
                display: flex;
                img {
                    width: 20px;
                    height: 18px;
                    margin: 7px 2px 1px 0;
                }
            }
        }
        .redirect {
            p {
                margin: 0 0 25px;
            }
        }
        .social {
            a {
                img {
                    border: solid #ffffff;
                    border-radius: 50%;
                    padding: 10px;
                    margin: 5px;
                }
            }
        }
    }
    .copyright {
        width: 100%;
        font-size: 1.2rem;
        margin: 0 0 100px;
        font-family: 'Open Sans', 'sans-serif';
        text-align: right;
    }
}